h2{
	text-align: center;
	margin: 5px 0 5px 0;
	font-size: 2em;
}

h4{
	text-align: center;
	margin: 5px 0 5px 0;
	font-size: 1.2em;
}

p{
	text-align: left;
	margin-bottom: 5px;
	font-size: 0.95em;
}
